
<div class="container d-flex flex-column align-items-center justify-content-center vh-100">

<div class="card p-4" style="width: 100%; max-width: 600px;">
  <h2 class="text-center mb-4">Cadastro de Curso</h2>
  <form [formGroup]="cadastroCursoForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="cursoNome" class="form-label">Nome do Curso</label>
      <input type="text" id="cursoNome" formControlName="cursoNome" class="form-control" />
    </div>
    <div class="mb-3">
      <label for="descricao" class="form-label">Descrição</label>
      <textarea id="descricao" formControlName="descricao" class="form-control"></textarea>
    </div>

    <h5>Colaboradores</h5>
    <div class="mb-3">
      <div *ngFor="let colaborador of colaboradores">
        <div class="form-check">
          <input
            type="checkbox"
            class="form-check-input"
            [value]="colaborador.id"
            (change)="onCheckboxChange($event)"
            id="{{colaborador.id}}"
          />
          <label class="form-check-label" for="{{colaborador.id}}">{{ colaborador.nome }}</label>
        </div>
      </div>
    </div>

    <div class="d-grid gap-2">
      <button type="submit" class="btn btn-primary">Cadastrar Curso</button>
    </div>

    <div *ngIf="successMessage" class="alert alert-success mt-3" role="alert">
      {{ successMessage }}
    </div>

    <div class="text-center mt-3">
      <button class="btn btn-link p-0" (click)="voltarParaHome()">Voltar para Home</button>
    </div>
  </form>
</div>
</div>
