<h2 class="display-2 mx-4 mt-2"> Projeto EuroFarma </h2>

<h2 class="mx-4 mt-5">Feito pela equipe:</h2>
<h6 class="mx-4 mt-2">Abner Aragon - RM95620</h6>
<h6 class="mx-4 mt-2">Enzo Obayashi - RM95634</h6>
<h6 class="mx-4 mt-2">Gabriel Baron - RM93266</h6>
<h6 class="mx-4 mt-2">Gabriel Paterra - RM93688</h6>
<h6 class="mx-4 mt-2">João Pedro - RM93530</h6>

<div class="border border-dark rounded-2 border-5 p-2 mx-4 mt-5">
  <h2>Descrição do projeto atual: </h2>
    <ul class="p-4">
        <li>Foi criado uma tabela no banco de dados JSON para armazenar... </li>
        <li>Continua..</li>
    </ul>
</div>
