<div class="container mt-3">
  <h3>Listagem de Colaboradores - TI</h3>
  <table class="table table-bordered table-striped mt-3">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Email</th>
        <th>Cargo</th>
        <th>Gestor</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let colaborador of colaboradores">
        <td>{{ colaborador.nome }}</td>
        <td>{{ colaborador.email }}</td>
        <td>{{ colaborador.cargo }}</td>
        <td>{{ colaborador.gestor ? 'Sim' : 'Não' }}</td>
      </tr>
    </tbody>
  </table>
</div>
