<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-4">
      <h3 class="text-center">Login</h3>
      <form (ngSubmit)="onLogin()">
        <div class="form-group">
          <label for="email">Email:</label>
          <input type="email" class="form-control" id="email" [(ngModel)]="email" name="email" required>
        </div>
        <div class="form-group">
          <label for="senha">Senha:</label>
          <input type="password" class="form-control" id="senha" [(ngModel)]="senha" name="senha" required>
        </div>
        <button type="submit" class="btn btn-primary btn-block mt-3">Login</button>
        <button type="button" class="btn btn-link btn-block" (click)="onCadastrar()">Cadastrar</button>
      </form>
      <div *ngIf="erroLogin" class="alert alert-danger mt-3">{{ erroLogin }}</div>
    </div>
  </div>
</div>
