/* src/styles.css */

/* Defina a imagem de fundo para o corpo da aplicação */
body {
  background-image: url('assets/background.png');
  background-size: cover; /* Cobre toda a tela */
  background-position: center; /* Centraliza a imagem */
  background-repeat: no-repeat; /* Evita repetição da imagem */
  background-attachment: fixed; /* Faz a imagem ficar fixa ao rolar a página */
  margin: 0; /* Remove margem padrão do body */
  height: 100vh; /* Garante que o body ocupe toda a altura da tela */
}
