body {
  background-image: url('assets/background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  height: 100vh;
  padding-top: 56px;
}

@media (min-width: 992px) {
  body {
    padding-top: 70px;
  }
}
